## Analyze each posted instagram hashtag

In [1]:
import os
from pathlib import Path
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt

p = Path(os.getcwd())
database_path=str(p.parent)+'/data/instagram.db'
print(database_path)

/Users/yutian/Desktop/final/data/instagram.db

In [2]:
## connect the database
import sqlite3

connection = sqlite3.connect(database_path)
instagram_data = pd.io.sql.read_sql("SELECT * FROM instagram;", con=connection)
instagram_data.head()

,id,account,filter,likes,comments,caption,timestamp
0,31044,murphyoilusa,Valencia,7,0,Elvis is in the building at Murphy Express 855...,140109 11:17
1,32057,murphyoilusa,Normal,5,0,Cool tanker! #murphyusa,140129 11:40
2,6359,murphyoilusa,Rise,6,0,Looking up! #murphyusa,121205 12:11
3,6347,murphyoilusa,Hefe,4,0,Quick Strike Energy! #murphyusa,121205 12:23
4,6351,murphyoilusa,X-Pro II,4,0,"Look out, it's Super Murph! #murphyusa",121205 12:16

In [3]:
instagram_data['focus'] = instagram_data.likes + instagram_data.comments
instagram_data['focus'].median()

215.0

In [17]:
# total number of hashtags used by each brand posting instagram
post_data=instagram_data[['account','caption']]
post_data['number_of_hashtags']=post_data.caption.str.count('#')
post_data.head()

/Users/yutian/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,account,caption,number_of_hashtags
0,murphyoilusa,Elvis is in the building at Murphy Express 855...,3
1,murphyoilusa,Cool tanker! #murphyusa,1
2,murphyoilusa,Looking up! #murphyusa,1
3,murphyoilusa,Quick Strike Energy! #murphyusa,1
4,murphyoilusa,"Look out, it's Super Murph! #murphyusa",1

In [18]:
##total hashtags post by each brand
post_data1=post_data.groupby("account").sum()
post_data1.sort_values(by='number_of_hashtags',ascending=0).head()

             number_of_hashtags
account
loewshotels                8202
homedepot                  3977
kohls                      3381
footlocker                 3197
nordstrom                  2688

In [21]:
# Average number of hashtags used by top brands
tag_counts = post_data.groupby('account').number_of_hashtags
avg_tags = (tag_counts.sum() / tag_counts.count())
pd.concat([top_posters, avg_tags], axis=1).sort('focus', ascending=False).number_of_hashtags[:5]

/Users/yutian/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

starbucks     1.774554
nike          1.241525
disney        0.620347
footlocker    1.899584
apple         0.619048
Name: number_of_hashtags, dtype: float64