## Analyze photoes companies posted filter and which kinds of filter viewers enjoy

In [1]:
import os
from pathlib import Path
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt

p = Path(os.getcwd())
database_path=str(p.parent)+'/data/instagram.db'
print(database_path)

/Users/yutian/Desktop/final/data/instagram.db

In [49]:
## connect the database
import sqlite3

connection = sqlite3.connect(database_path)
instagram_data = pd.io.sql.read_sql("SELECT * FROM instagram;", con=connection)
instagram_data.head()

,id,account,filter,likes,comments,caption,timestamp
0,31044,murphyoilusa,Valencia,7,0,Elvis is in the building at Murphy Express 855...,140109 11:17
1,32057,murphyoilusa,Normal,5,0,Cool tanker! #murphyusa,140129 11:40
2,6359,murphyoilusa,Rise,6,0,Looking up! #murphyusa,121205 12:11
3,6347,murphyoilusa,Hefe,4,0,Quick Strike Energy! #murphyusa,121205 12:23
4,6351,murphyoilusa,X-Pro II,4,0,"Look out, it's Super Murph! #murphyusa",121205 12:16

In [61]:
instagram_data['social_actions'] = instagram_data.likes + instagram_data.comments
instagram_data['social_actions'].median()

215.0

In [62]:
filter_data=instagram_data[['account','filter']]
filter_data.head()

        account    filter
0  murphyoilusa  Valencia
1  murphyoilusa    Normal
2  murphyoilusa      Rise
3  murphyoilusa      Hefe
4  murphyoilusa  X-Pro II

In [63]:
#all filter and their using frequency
filter_data1=filter_data.groupby(['filter']).size().reset_index().rename(columns={0:'count'})
filter_data1.sort_values(by='count',ascending=0).head()

      filter  count
14    Normal  20234
10     Lo-fi   1906
1      Amaro   1748
12   Mayfair   1707
21  Valencia   1669

In [64]:
# Top 10 filters by usage
top_filters = instagram_data.groupby('filter').size().order(ascending=False)
(100 * top_filters / float(sum(top_filters)))[:10]

/Users/yutian/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: order is deprecated, use sort_values(...)
  from ipykernel import kernelapp as app

filter
Normal      58.522054
Lo-fi        5.512654
Amaro        5.055676
Mayfair      4.937093
Valencia     4.827187
X-Pro II     4.043384
Rise         3.704989
Hudson       3.271150
Hefe         2.111352
Sierra       1.512654
dtype: float64

In [65]:
# Top 10 filters by social engagement
social_actions = instagram_data.groupby('filter').focus
(social_actions.sum() / social_actions.count()).order(ascending=False)[:10]

/Users/yutian/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: order is deprecated, use sort_values(...)
  app.launch_new_instance()

filter
Normal      5285.500198
Willow      3827.500000
Sierra      2721.579350
Valencia    2259.502097
Amaro       2176.354119
Hudson      1932.223696
Mayfair     1900.403632
1977        1476.029851
Rise        1305.064793
Lo-fi       1174.589192
Name: focus, dtype: float64

In [66]:
# Top pics using Willow and Sierra filter
filter_top_filters = instagram_data['filter'].isin(["Willow", "Sierra"])
instagram_data[filter_top_filters].sort('social_actions', ascending=False)[:10]

/Users/yutian/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

,id,account,filter,likes,comments,caption,timestamp,focus,social_actions
10658,31537,nike,Sierra,177037,3242,Finish the season on your terms. #justdoit,140119 22:18,180279,180279
11182,26766,nike,Sierra,106291,567,There's only one receiver who's always open.@u...,131027 18:29,106858,106858
11180,26705,nike,Sierra,103974,370,No gym. No trainer. No excuse. #justdoit@nikew...,131025 19:11,104344,104344
17631,30798,starbucks,Sierra,92508,844,Sometimes you just need to stay in. #Cozy #Cof...,140103 13:08,93352,93352
11175,22369,nike,Sierra,90401,408,Make your next run your best run.The @nikerunn...,130912 12:59,90809,90809
17274,28780,starbucks,Sierra,88863,312,"A little piece of home at 37,000 ft.#starbucks...",131127 14:27,89175,89175
11220,7477,nike,Sierra,85967,536,A hist�ria n�o se escreve sozinha.History does...,130625 12:04,86503,86503
17248,24237,starbucks,Sierra,74336,310,Follow your #heart. Celebrate what you #love. ...,130930 14:52,74646,74646
17558,25366,starbucks,Willow,73481,273,Let weather be your excuse to #slowdown and #s...,131017 16:07,73754,73754
17237,29043,starbucks,Willow,67709,226,Perfect cup. #PourOver #Coffee #Love,131204 13:31,67935,67935